In [1]:
#import libraries
import pandas as pd
import numpy as np

In [2]:
#Read data from dataset into dataframe
df = pd.read_csv('car data.csv')

In [3]:
#display first 4 rows
df.head()

,Car_Name,Year,Selling_Price,Present_Price,Kms_Driven,Fuel_Type,Seller_Type,Transmission,Owner
0,ritz,2014,3.35,5.59,27000,Petrol,Dealer,Manual,0
1,sx4,2013,4.75,9.54,43000,Diesel,Dealer,Manual,0
2,ciaz,2017,7.25,9.85,6900,Petrol,Dealer,Manual,0
3,wagon r,2011,2.85,4.15,5200,Petrol,Dealer,Manual,0
4,swift,2014,4.60,6.87,42450,Diesel,Dealer,Manual,0

In [4]:
#get information about dataframe
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 301 entries, 0 to 300
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Car_Name       301 non-null    object
 1   Year           301 non-null    int64
 2   Selling_Price  301 non-null    float64
 3   Present_Price  301 non-null    float64
 4   Kms_Driven     301 non-null    int64
 5   Fuel_Type      301 non-null    object
 6   Seller_Type    301 non-null    object
 7   Transmission   301 non-null    object
 8   Owner          301 non-null    int64
dtypes: float64(2), int64(3), object(4)
memory usage: 21.3+ KB

In [8]:
# data reduction
# remove/reduce unnecessary arribute from dataframe
subset = df[['Car_Name', 'Year', 'Fuel_Type', 'Transmission']]
subset.head()

  Car_Name  Year Fuel_Type Transmission
0     ritz  2014    Petrol       Manual
1      sx4  2013    Diesel       Manual
2     ciaz  2017    Petrol       Manual
3  wagon r  2011    Petrol       Manual
4    swift  2014    Diesel       Manual

In [9]:
#data cleaning
# find missing values
subset.isnull().sum()

Car_Name        0
Year            0
Fuel_Type       0
Transmission    0
dtype: int64

In [10]:
#define function for median
def impute_median(series):
  return series.fillna(series.median())

In [11]:
subset2=df[['Car_Name', 'Year', 'Fuel_Type', 'Transmission']]
subset2.head()

  Car_Name  Year Fuel_Type Transmission
0     ritz  2014    Petrol       Manual
1      sx4  2013    Diesel       Manual
2     ciaz  2017    Petrol       Manual
3  wagon r  2011    Petrol       Manual
4    swift  2014    Diesel       Manual

In [12]:
# Data integration
subset3=pd.merge(subset,subset2,on='Fuel_Type')
subset3.head()

,Car_Name_x,Year_x,Fuel_Type,Transmission_x,Car_Name_y,Year_y,Transmission_y
0,ritz,2014,Petrol,Manual,ritz,2014,Manual
1,ritz,2014,Petrol,Manual,ciaz,2017,Manual
2,ritz,2014,Petrol,Manual,wagon r,2011,Manual
3,ritz,2014,Petrol,Manual,ciaz,2015,Manual
4,ritz,2014,Petrol,Manual,alto 800,2017,Manual

In [13]:
#Data Transformation
subset3.to_excel('car data.xlsx')